<!-- footer -->
<footer class="bg-light py-2 text-center">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center mb-3 px-4">
      <img src="/static/logo-3.png" alt="Strick Logo" style="max-height: 40px;" class="me-3">
      <span class="fw-bold fs-10 me-4">© 2025 Strick Data Solutions</span>
      <script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
      <script type="IN/FollowCompany" data-id="107397993" data-counter="bottom"></script>
    </div>
  </div>
</footer>