{% extends "base.html" %}

{% block title %}Strick DS - Home{% endblock %}

{% block hero %}
  <!-- Hero Section -->
  <div class="hero-section">
    <header class="mb-5 text-center" data-aos="fade-down">
      <h1 class="display-4">Strick Data Solutions</h1>
      <p class="lead">Data and AI solutions, Precisely Delivered</p>
    </header>
  </div>
{% endblock %}

{% block content %}
  <section class="mb-5" data-aos="fade-up">
    <h2 class="h3">Our mission</h2>
    <p>{{ mission }}</p>
  </section>
  <section class="mb-5" data-aos="fade-up">
    <h2 class="h3">Our team</h2>
    <p>{{ team }}</p>
  </section>
  <section data-aos="fade-up">
    <h2 class="h3">Contact</h2>
    <p>Email us at <a href="mailto:{{ contact_email }}">{{ contact_email }}</a></p>
  </section>
  <section class="mb-5 text-center" data-aos="fade-up">
    <p style="font-style: italic;">{{ quote }}</p>
  </section>
{% endblock %}