<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center gap-2" href="/">
        <img src="{{ url_for('static', filename='logo-3.png') }}" alt="Logo" style="height: 50px;">
        <!-- <span class="fw-bold">Strick Data Solutions</span> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('about') }}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('team') }}">Our Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('projects') }}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-none d-lg-block" href="{{ url_for('contact') }}" style="background-color: rgb(251, 89, 89); color: azure;">Contact</a>
            <a class="nav-link d-lg-none" href="{{ url_for('contact') }}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>