{% extends "base.html" %}

{% block title %}Strick DS - Projects{% endblock %}

{% block content %}
  <section class="mb-5" data-aos="fade-up">
    <h1 class="display-4 pb-2">Projects</h1>
    <div class="row">
      {% for project in projects %}
        <div class="col-md-6 mb-4" data-aos="zoom-in" data-aos-delay="{{ loop.index0 * 100 }}">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{ project.link }}" class="text-decoration-none" target="_blank" rel="noopener noreferrer">
                  {{ project.title }}
                </a>
              </h5>
              <p class="card-text">{{ project.desc }}</p>
              
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}